header
  h1 Blinds - A Riak Web Client
section.options
  h4 Options
  form
    fieldset
      label Buckets
      input(type="text",name="bucket",id="bucket")
    fieldset
      label Fields (to show in table)
      input(type="text",name="fields",id="fields")
    fieldset
      input(type="submit",value="Set")
section.content
  h4 Contents
  table
    thead
      tr
        th Key
    tbody.scrollable
  .doc
    textarea#doc(disabled="true")
    button#save(disabled="true") Save
    button#reset(disabled="true") Reset 
