.contents{overflow:hidden;}
section.options form{overflow:hidden;}
section.options fieldset{float:left;}
section.content{}
section.content .table,section.content #doc{height:400px;width:100%;}
section.content .table{overflow:scroll;}
