/*
 * Color concepts taken from http://veerle.duoh.com/
 * Table design from http://www.smashingmagazine.com/2008/08/13/top-10-css-table-designs/
 * Design still looks great (minimalist scales?)
 */
body{background:#727268;color:#4B4C41;}
.contents{overflow:hidden;}
section.options form{overflow:hidden;}
section.options fieldset{float:left;}
section.content .table,section.content #doc{height:400px;width:100%;}
table
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 14px;
	width: 100%;
	border-collapse: collapse;
	text-align: left;
}
table th
{
	font-size: 18px;
	font-weight: bold;
	color: #fff;
	padding: 10px 8px;
	border-bottom: 2px solid #fff;
}
table td
{
	color: #fff;
	padding: 9px 8px 0px 8px;
}
table tbody tr:hover td
{
	color: #D3D2C4;
}
