.contents{overflow:hidden;}
section.options{width:25%;float:left;}
section.content{width:75%;float:left;}
section.content .table,section.content #doc{height:400px;width:600px}
section.content .table{overflow:scroll;}
